* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2vh;
    font-size: 5vmin;
}

/* Board style */
.board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: 75vmin;
    height: 75vmin;
    margin: auto;
    border: 0.5vmin solid #000;
}

/* Square and tile style */
.tile, .square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    position: relative;
    overflow: visible;
    line-height: 1;
    border: 0.1vmin solid rgb(204, 183, 158);
    caret-color: transparent; /* Hide caret */
    outline: none;
}

.tile {
    -webkit-user-select: auto;
    user-select: none; /* Prevent text selection */
    -webkit-user-drag: none;
    position: absolute;
    z-index: 1;
    border-radius: 20%; /* Circular tile */
    background-color: rgb(252, 202, 50);
    bottom: 5%;
}

.tile.shadow {
    box-shadow: 0 0.1em rgb(141, 114, 33);
}

.square.empty .tile {
    background-color: transparent; /* Transparent for empty tiles */
    outline: none;
}


/* Add tile hover and focus effect */
.square.empty:hover {
    outline: 3px solid dodgerblue;
    outline-offset: -3px;
}

.square.empty:focus-within{
    outline: 3px solid dodgerblue;
    outline-offset: -3px;
}

.square.filled:hover .tile, .square.filled:hover .tile-back {
    transform: scale(1.1);
    z-index: 2;
}

.square.filled .tile:focus {
    outline: 3px solid dodgerblue;
    outline-offset: -2px;
    z-index: 2;
}

.normal {
    background-color: bisque;
    font-size: 4vmin;
}

.double-word {
    background-color: lightsalmon; 
    font-size: 2vmin;
}

.triple-word {
    background-color: rgb(255, 54, 54);
    font-size: 2vmin;
}

.double-letter {
    background-color: rgb(196, 250, 250); 
    font-size: 2vmin;
}

.triple-letter {
    background-color: cyan; 
    font-size: 2vmin;
}

.star {
    background-color: lightsalmon; 
    font-size: 4vmin; 
}

#direction-indicator {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: 3;
    border: 1vmin solid transparent;
}

#direction-indicator.right {
    border-left-color: dodgerblue;
    transform: translate(10%, -50%);
}
#direction-indicator.down {
    border-top-color: dodgerblue;
    transform: translate(-50%, 10%);
}

.rack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
    width: 50vmin;
    height: 8vmin;
    background-color: bisque;
    border: 0.5vmin solid #000;
    border-radius: 1vmin;
    padding: 1vmin;
    gap: 1vmin;
}

.rack .tile {
    width: 6vmin;
    height: 6vmin;
    font-size: 4.8vmin;
    position: relative;
}